/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.growthFall_green {
  color: green;
}
.growthFall_red {
  color: red;
}

app-todo-item {
  width: 100%;
}